<div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let item of books|async">
        <div class="card" style="margin-bottom:20px;padding:15px">
           
            <img src="{{item.coverImageUrl}}"class="card-img-top" alt="...">
            
        
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.subtitle}}</p>
              <a href="#" class="btn btn-success">Add to Cart</a>
              <a type="button" class="btn btn-primary" [routerLink]="['/editBook',item.id]">Edit</a>
              <a type="button" class="btn btn-danger" (click)="deleteBook(item.id)">Delete</a>
            </div>
        </div>        
    </div>    
</div>